body {
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
    gap: 10px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color:#1F2937;
    padding: 10px;
    display: flex;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    display: flex;
    justify-content: center;
}

.information-header {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    justify-content: center;
}

.info-card {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
}

.attribution {
    font-size: 18px;
    font-weight: bold;
}

.call-to-action {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: white;
}

.footer {
    background-color:#1F2937;
    color: white;
}