body {
    font-family: Roboto;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.header{
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.hero {
    background-color:#1F2937;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.information-header {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.call-to-action {
    background-color: #3882F6;
}

button {
    color: #3882F6;
}

.footer {
    background-color:#1F2937;
}