body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header{
    background-color: #403737;
    padding: 16px 100px 16px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #EDE0D4;
}

ul {
    color: #EDE0D4;
    font-size: 18px;
    padding: 0px;
    margin: 0;
    gap: 16px;
    list-style: none;
    display: flex;
}

button {
    background-color: #A68A64;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
    border-style: none;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
}

.hero {
    background-color: #403737;
    padding: 100px;
    gap: 32px;
    display: flex;
}

.hero-left {
    gap: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-btn{
    border-style: none;
}

.hero-main {
    font-size: 48px;
    color: #EDE0D4;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #F9F5F1;
}

.hero-right {
    display: flex;
    align-content: center;
    flex: 1;
}

.hero-img {
    display: flex;
    color: white;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    flex:1;
    text-align: center;
    align-content: center;
}

.information {
    padding: 16px 100px 16px 100px;
    gap: 32px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F5F1;
}

.information-header {
    font-size: 36px;
    color:#403737;
    justify-content: center;
    margin: auto;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.info-card {
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: #6D747D;
    display: flex;
    flex-direction: column;
}

.info-image{
    width: 150px;
    height: 150px;
    border: 2px solid #A68A64;
    border-radius: 8px;
}

.quote {
    background-color: #EDE0D4;
    color: #1F2937;
    font-weight: 300;
    padding: 100px;
    gap: 16px;
    display: flex;
    flex-flow: column wrap;
}

.quote-text{
    font-size: 36px;
    color: #A68A64;
    font-style: italic;
}

.attribution {
    color:#403737;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action-container {
    padding: 100px;
    display: flex;
    background-color:#F9F5F1;
}

.cta-modal {
    background-color: #EDE0D4;
    color: white;
    padding: 25px 50px;
    border-radius: 8px;
    gap: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.cta-header {
    color: #403737;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.cta-text {
    color: #A68A64;
}

.cta-btn {
    border: 2px solid #403737;
    align-self: center;
}

.footer {
    background-color:#403737;
    padding: 30px 0px;
    color: #EDE0D4;
    display: flex;
    justify-content: center;
    align-items: center;
}