body {
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    display: flex;
    padding: 16px 100px 16px 100px;
    justify-content: space-between;
    align-items: center;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
    gap: 16px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    background-color:#1F2937;
    padding: 100px;
    display: flex;
    gap: 32px;
}

.hero-left {
   display: flex;
   flex-direction: column;
   gap: 8px;
   flex: 1;
}

.hero-btn{
    border-style: none;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right {
    display: flex;
    align-content: center;
    flex: 1;
}

.hero-img {
    background-color: silver;
    flex:1;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 100px 16px 100px;
    gap: 32px;
    padding: 100px;
}

.information-header {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    justify-content: center;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.info-card {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.info-image{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
}

.attribution {
    font-size: 18px;
    font-weight: bold;
}

.call-to-action {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    font-weight: bold;
}

.footer {
    background-color:#1F2937;
    color: white;
}